@page
@model CreateModel
@{
    ViewData["Title"] = "Create appointment";
}

<div class="text-center">
    <h1 class="display-4">
        <a href="http://healthimpact.health/" target="_blank">
            <img src="/img/hi-logo.png"
                 alt="Health Impact" />
        </a>
    </h1>
    <div class="row text-justify">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Company</label>
                    <select asp-for="Appointment.CompanyId" asp-items="Model.Companies" class="form-control">
                        <option value="0">Please select</option>
                    </select>
                    <span asp-validation-for="Appointment.CompanyId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Client</label>
                    <select asp-for="Appointment.ClientId" class="form-control">
                        <option value="0">Please select</option>
                    </select>
                    <span asp-validation-for="Appointment.ClientId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Start</label>
                    <input asp-for="Appointment.Start" class="form-control" />
                    <span asp-validation-for="Appointment.Start" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">End</label>
                    <input asp-for="Appointment.End" class="form-control" />
                    <span class="text-info">Leave blank for all day</span>
                </div>
                <div class="form-group">
                    <label class="control-label">Title</label>
                    <input asp-for="Appointment.Title" class="form-control" />
                    <span asp-validation-for="Appointment.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <textarea asp-for="Appointment.Description" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" /> <a asp-page="./Index" class="btn btn-default">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script>
        const apiurl = "https://hi.api.loganyoung.co.za/";

        $(function () {
            $("#Appointment_CompanyId").on("change", function () {
                const companyId = $(this).val();
                $("#Appointment_ClientId").empty();
                $("#Appointment_ClientId").append("<option value='0'>Select client</option>");
                $.getJSON(`FilterClients?companyId=${companyId}`, (data) => {
                    $.each(data, function (i, item) {
                        $("#Appointment_ClientId").append(`<option value="${item.id}">${item.name}</option>`);
                    });
                });
            });
        });
    </script>
}