@page
@using api.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <calendar month="@DateTime.Now.Month" year="@DateTime.Now.Year" events="" />
    <div id="calendar"></div>
</div>

<script>
    window.onload = async () => {

        const events = await getEvents();

        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            editable: true,
            selectable: true,
            events: events
        });
        calendar.render();
    };

    const getEvents = async () => {
        var requestOptions = {
            method: 'GET'
        };

        let events;
        var promise = new Promise((resolve, reject) => {
            fetch("http://localhost:5000/events?companyId=4", requestOptions)
                .then(response => response.text())
                .then(result => {
                    console.log(result);
                    events = result;
                    resolve();
                })
                .catch(error => {
                    console.log('error', error)
                    reject();
                });
            await promise();
            return events;
        }
</script>